<a href="https://colab.research.google.com/github/gnbhub/gnb_2022_1_Python_study/blob/master/week6/pystudy_jaewonhan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#10-5
fruit = {}

for count in range(3):
  name = input("과일 이름 : ")
  price = int(input("가격 입력 : "))
  fruit[name] = price

print(fruit)

과일 이름 : 사과
가격 입력 : 1500
과일 이름 : 바나나
가격 입력 : 1300
과일 이름 : 레몬
가격 입력 : 2000
{'사과': 1500, '바나나': 1300, '레몬': 2000}

In [8]:
#10-15
fruit = {"apple":1500, "banana":1300, "melon":2000}
count = 0

for key, item in fruit.items():
  count += 1
  print("%d.%s(%d원)" %(count, key, item))

total = 0
for key in fruit.keys():
  print("%s의 개수 : " %key, end="")
  number = int(input())
  total = total + (fruit[key] * number)

print("총금액 ; %d원" %total)

1.apple(1500원)
2.banana(1300원)
3.melon(2000원)
apple의 개수 : 3
banana의 개수 : 2
melon의 개수 : 1
총금액 ; 9100원

In [10]:
#10-19
set1 = {1,2,3,4}
set2 = {3,4,5,6}
print(set1 & set2)
print(set1 | set2)
print(set1 - set1)
print(set1 ^ set2)

{3, 4}
{1, 2, 3, 4, 5, 6}
set()
{1, 2, 5, 6}

In [11]:
#10-20
numbers = set()
numbers.add(1)
numbers.add(2)
print(numbers)

numbers.update([3,4])
numbers.update({"one",1})
print(numbers)

numbers.remove(3)
numbers.pop()

print(numbers)

{1, 2}
{1, 2, 3, 4, 'one'}
{2, 4, 'one'}